.menu__container {
  width: 1250px;
  margin: 0 auto;
  min-height: 800px;
}

.menu__container span {
  font-size: 20px;
}

.banner{
  height: 400px;
  background-color: #282c34;
  color: white;
}

.banner > .banner_text {
  padding-top: 70px;
  text-align: center;
}

.banner > .banner_text > h1 {
  font-size: 60px;
  color: #D1F03C;
}

.banner > .banner_text > p {
  margin-top: -20px;
  font-size: 30px;
  font-weight: 300;
}
