.nav {
  z-index: 1;
  position: fixed;
  top: 30px;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 15px 100px;
  width: 100%;
  height: 50px;
}

.nav a {
  text-decoration: none;
  color: #0008fc;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  margin-right: 170px;
}

.nav a:not(:last-child) {
  margin-bottom: 30px;
}